:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding-top {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section--no-padding-top {
    display: none;
  }
}

.section--other-bkg {
  background-color: #f5f4fa;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  text-transform: none;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

/* ---------------------main-nav--------------------- */
.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}
.logo .logo__dark {
  color: #000000;
}

.logo__white {
  color: #fff;
}

/* ---------------------site-nav--------------------- */
.site-nav {
  display: flex;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.site-nav .site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.site-nav .site-nav__link--current::after {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background: #2196f3;
  border-radius: 2px;
}

.site-nav .site-nav__link:hover,
.site-nav .site-nav__link:focus,
.contact-footer .site-nav__link:hover,
.contact-footer .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* ---------------------contact--------------------- */
.contact--header {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.contact__item--header:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imghero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.32;
  }
}

.advantages__title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
}

.advantages__text {
  margin-top: 10px;
  margin-bottom: 0;
}

.advantages {
  margin-top: 0;
  margin-bottom: -30px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.advantages__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc(25% - 30px);
  }
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__icon-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.works {
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  padding-left: 0px;
}

.works__item {
  position: relative;
}
.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__thumbs {
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.works__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.team {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    margin-top: 50px;
  }
}

.team__item {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(25% - 30px);
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: -30px;
  margin-top: 30px;
  margin-bottom: -30px;
}
@media screen and (min-width: 1200px) {
  .clients {
    margin-top: 50px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__item {
  margin-bottom: 30px;
  margin-left: 30px;
  width: calc(50% - 30px);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc(16.6666666667% - 30px);
    margin-bottom: 0;
  }
}

.clients__link {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact--footer {
  margin-top: 9px;
  margin-bottom: 0;
  padding-left: 0;
}

.contact-item--footer:not(:first-child) {
  margin-top: 9px;
}

@media screen and (max-width: 1199px) {
  .contact-link--footer {
    display: block;
    text-align: center;
  }
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin-top: 20px;
}

.adress__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-grow {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-grow {
    flex-grow: 1;
  }
}

/* ---------------------connect--------------------- */
@media screen and (max-width: 1199px) {
  .connect {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .connect {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    margin-left: 70px;
  }
}

.connect__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

/* ---------------------subscribe--------------------- */
@media screen and (max-width: 1199px) {
  .subscribe {
    margin-top: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.subscribe-form {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
  }
}

.subscribe-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .subscribe-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
  }
}

.subscribe-icon {
  margin-left: 10px;
}

.button__thumb {
  display: flex;
  justify-content: center;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .subscribe-btn {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-btn {
    margin-left: 12px;
  }
}

@media screen and (min-width: 768px) {
  .tablet__thumb {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
}

.button {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition-property: var(--background-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.button-filter {
  background-color: #f5f4fa;
  cursor: pointer;
  color: var(--secondary-text-color);
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color, var(--background-color), box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:hover, .button-filter:focus {
  color: #fff;
  background-color: var(--accent-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social {
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0px;
}

.social__footer--margin {
  margin-top: 20px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border-radius: 50%;
  transition-property: var(--background-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social__link--white {
  color: #ffffff;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__item {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .filter-list {
    margin-top: -15px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-item {
    margin-top: 15px;
  }
}

.filter-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-text-color);
}

.filter-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}

.projects-list {
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .projects-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.projects-item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .projects-item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects-item {
    width: calc(33.3333333333% - 30px);
  }
}

.projects-link {
  display: block;
  text-decoration: none;
}
.projects-link:hover, .projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-card {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
}
.projects-link:hover .projects-overlay, .projects-link:focus .projects-overlay {
  transform: translateY(0);
}

.projects-text-thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

.projects-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin: 0%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  /* transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1); */
  transform: scale(1);
  transition: transform 250ms linear;
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 94px 15px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 153px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 222px 536px;
  }
}

.backdrop.is-hidden {
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background-color: #ffffff;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-icon:hover {
  fill: var(--accent-color);
  transition: fill 250ms;
}

/* ---------------------modal-form--------------------- */
.modal-form {
  height: 100%;
  width: 100%;
  padding: 40px;
}

.form-title {
  margin: 0 0 10px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form-icon {
  position: relative;
}

.modal-input:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms;
}
.modal-input:focus + .form-icon {
  fill: var(--accent-color);
  transition: fill 250ms;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-field input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-field textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.form-field:last-of-type {
  margin-bottom: 20px;
}

.label-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.form-comment {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.button-form {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.link-check {
  color: var(--accent-color);
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 7px;
}

.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=main.css.map */