.filter-list {
  display: flex;

  flex-wrap: wrap;
  padding-left: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;

  margin-top: 0;
  margin-bottom: 0;
  @media screen and (max-width: 767px) {
    margin-top: -15px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-item {
  @media screen and (max-width: 767px) {
    margin-top: 15px;
  }
}
.filter-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-text-color);
}

.filter-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}
