.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact--footer {
  margin-top: 9px;
  margin-bottom: 0;
  padding-left: 0;
}

.contact-item--footer:not(:first-child) {
  margin-top: 9px;
}
.contact-link--footer {
  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
  }
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin-top: 20px;
}
.adress__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}
.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-grow {
  // flex-grow: 1;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    flex-grow: 1;
  }
}

/* ---------------------connect--------------------- */

.connect {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.connect__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

/* ---------------------subscribe--------------------- */
.subscribe {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.subscribe-form {
  // display: flex;
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.subscribe-input {
  // width: 358px;
  width: 100%;
  height: 50px;
  // margin-right: 12px;
  padding-left: 16px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
// .subscribe-field {
//   // position: relative;
// }
.subscribe-icon {
  margin-left: 10px; // position: absolute;
  // top: 50%;
  // right: 28px;
  // transform: translateY(-50%);
}
.button__thumb {
  display: flex;
  justify-content: center;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-right: 62px;
  // padding-left: 29px;

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
.tablet__thumb {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
}
