.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Imghero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.32;
  }
}
