.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  text-transform: none;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
