.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  text-transform: none;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
}
